CREATE DICTIONARY

In [2]:
mydict = dict()
mydict

{}

In [4]:
mydict = {}
mydict

{}

In [6]:
mydict = {1:'one' , 2:'two' , 3:'three'}
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [8]:
mydict = dict({1:'one' , 2:'two' , 3:'three'})
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [10]:
mydict = {'A':'one' , 'B':'two' , 'C':'three'}
mydict

{'A': 'one', 'B': 'two', 'C': 'three'}

In [16]:
mydict = {1:'one' , 'A':'two' , 3:'three'}
mydict

{1: 'one', 'A': 'two', 3: 'three'}

In [18]:
mydict.keys()

dict_keys([1, 'A', 3])

In [20]:
mydict.values()

dict_values(['one', 'two', 'three'])

In [22]:
mydict.items()

dict_items([(1, 'one'), ('A', 'two'), (3, 'three')])

In [24]:
mydict = {1:'one' , 2:'two' , 'A':['asif' , 'john' , 'Maria']}
mydict

{1: 'one', 2: 'two', 'A': ['asif', 'john', 'Maria']}

In [26]:
mydict = {1:'one' , 2:'two' , 'A':['asif' , 'john' , 'Maria'], 'B':('Bat' , 'cat', 'hat')}
mydict

{1: 'one',
 2: 'two',
 'A': ['asif', 'john', 'Maria'],
 'B': ('Bat', 'cat', 'hat')}

In [36]:
keys = {'a' , 'b' , 'c' , 'd'}
mydict3 = dict.fromkeys(keys)
mydict3

{'d': None, 'c': None, 'a': None, 'b': None}

In [55]:
keys = {'a' , 'b' , 'c' , 'd'}
value = [10,20,30]
mydict3 = dict.fromkeys(keys,value)
mydict3

{'d': [10, 20, 30], 'c': [10, 20, 30], 'a': [10, 20, 30], 'b': [10, 20, 30]}

In [53]:
keys = {'a' , 'b' , 'c' , 'd'}
value = 10
mydict3 = dict.fromkeys(keys,value)
mydict3

{'d': 10, 'c': 10, 'a': 10, 'b': 10}

In [57]:
value.append(40)
mydict3

{'d': [10, 20, 30, 40],
 'c': [10, 20, 30, 40],
 'a': [10, 20, 30, 40],
 'b': [10, 20, 30, 40]}

ACCESSING ITEMS

In [60]:
mydict = {1:'one' , 2:'two' , 3:'three' , 4:'four'} 
mydict

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [62]:
mydict[1]

'one'

In [64]:
mydict.get(1)

'one'

In [66]:
mydict1 = {'Name':'Asif' , 'ID': 74123 , 'DOB': 1991 , 'job' :'Analyst'} 
mydict1

{'Name': 'Asif', 'ID': 74123, 'DOB': 1991, 'job': 'Analyst'}

In [68]:
mydict1['Name']

'Asif'

In [70]:
mydict1.get('job')

'Analyst'

ADD,REMOVE & CHANGE ITEMS

In [85]:
mydict1 = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Hilsinki'} 
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [87]:
mydict1['DOB'] = 1992 
mydict1['Address'] = 'Delhi' 
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1992, 'Address': 'Delhi'}

In [89]:
dict1 = {'DOB':1995} 
mydict1.update(dict1) 
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1995, 'Address': 'Delhi'}

In [91]:
mydict1['Job'] = 'Analyst'
mydict1

{'Name': 'Asif',
 'ID': 12345,
 'DOB': 1995,
 'Address': 'Delhi',
 'Job': 'Analyst'}

In [93]:
mydict1.pop('Job')
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1995, 'Address': 'Delhi'}

In [95]:
mydict1.popitem()

('Address', 'Delhi')

In [97]:
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1995}

In [99]:
del[mydict1['ID']]
mydict1

{'Name': 'Asif', 'DOB': 1995}

In [101]:
mydict1.clear() 
mydict1

{}

In [103]:
del mydict1
mydict1

NameError: name 'mydict1' is not defined

COPY DICTIONARY

In [106]:
mydict = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Hilsinki'} 
mydict

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [108]:
mydict1 = mydict
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [110]:
id(mydict) , id(mydict1)

(2548692745792, 2548692745792)

In [112]:
mydict2 = mydict.copy()
mydict2

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [114]:
id(mydict2)

2548676470272

In [120]:
mydict['Address'] = 'Mumbai' 
mydict

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Mumbai'}

In [122]:
mydict2

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

LOOP THROUGH A DICTIONARY

In [127]:
mydict1 = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Hilsinki', 'job' : 'Analyst'} 
mydict1

{'Name': 'Asif',
 'ID': 12345,
 'DOB': 1991,
 'Address': 'Hilsinki',
 'job': 'Analyst'}

In [131]:
for i in mydict1:
    print(i, ':',mydict1[i])

Name : Asif
ID : 12345
DOB : 1991
Address : Hilsinki
job : Analyst

In [133]:
for i in mydict1:
    print(mydict1[i])

Asif
12345
1991
Hilsinki
Analyst

DICTIONARY MEMBERSHIP

In [138]:
mydict1 = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 ,  'job' : 'Analyst'} 
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'job': 'Analyst'}

In [140]:
'Name' in mydict1

True

In [142]:
'Asif' in mydict1

False

In [146]:
'ID' in mydict1

True

In [148]:
'Address' in mydict1

False

ALL/ANY

In [151]:
mydict1 = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 ,  'job' : 'Analyst'} 
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'job': 'Analyst'}

In [153]:
all(mydict1)

True

In [155]:
any(mydict1)

True